body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;

}

nav{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    color: white;
    transition: background-color 0.2s;
    z-index: 2;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    float: left;
    padding: 15px 20px;
}

.fake-link{
    cursor: pointer;
}

.fake-link a{
    text-decoration: none;
    color: white;
}

.fake-link::after{
    content: '';
    display: block;
    background-color: white;
    height: 1px;
    width: 0px;
    transition: width 0.2s; 
}

.fake-link:hover::after{
    width: 100%;
}

#start {
    background-image: url("./images/Tajemnica_Wcielenia.jpeg");
    height: 100vh;
    width: 100%;
    background: transparent;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#signature {
    fill: white;
}

#about{
    min-height: 100vh;
    display: flex;
}

#about .photo{
    width: 45%;
    background-image: url("./images/bio_photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

#about .description{
    width: 55%;
    padding: 50px;
}

#about .description h1{
    font-size: 40px;
    color: rgb(136, 21, 8);
}

.gallery-header{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.gallery-header span{
    font-size: 40px;
    color: rgb(83, 93, 94);
    padding: 15px 30px;
    background-color: white;
    max-width: 80%;
}

.gallery-wrapper{
    background-color: rgb(27, 39, 35);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    width: 80vw;
    margin: auto;
  }

.gallery .thumbnail{
    margin: 0;
    padding: 0;
    width: 20%;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.gallery:hover > .thumbnail img:hover{
    filter: grayscale(0);
    cursor: pointer;
    z-index: 1;
}

.gallery:hover > .thumbnail img{
    filter: grayscale(1);
}

#kostka .description {
    padding: 50px;
    display: flex;
	justify-content: center;
    flex-direction: column;
}

#kostka .description p {
    display: block;
    width: 50%;
	margin: auto;
}

#trailer {
	background-image: url("kostka_trailer.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

#article {
	background-image: url("kostka_artykul.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

#show {
	background-image: url("kostka_spektakl.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

#buy {
	background-image: url("kostka_komiks.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}

.container .link{
	display: block;
	margin: 50px;
    background-color: turquoise;
	overflow: hidden;
	text-decoration: none;
	transition: all 0.2s;
}

.container .link:hover {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.container .link div{
	height: 200px;
    width: 300px;
	transition: all 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 600;
	font-size: 25px;
	text-align: center;
	
}

.container .link div:hover{
	transform: scale(1.1);
}

footer{
	width: 100%;
    height: 15vh;
    background-color: rgb(49, 24, 21);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact span {
	color: white;
	font-size: 20px;
	margin-bottom: 7px;
}

.links {
	display: flex;
	justify-content: center;
}

.icon {
	display: block;
	width: 33px;
	height: 33px;
	color: rgb(49, 24, 21);
	text-decoration: none;
	opacity: 0.5;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s;
	margin: 5px;
}

.icon:hover {
	opacity: 1;
}

/* MODAL */
#modal {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    overflow: auto;
}

.modal-wrapper {
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#modal-image{
    max-width: 85%;
    max-height: 85vh;
    display: inline-block;
    animation-name: fade-in;
    animation-duration: 0.5s;
    overflow: auto;
    align-self: center;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}
#modal .close{
    position: absolute;
    right: 25px;
    top: 15px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s;
    font-size: 35px;
    font-family: 'Herr Von Muellerhoff', cursive;
}

#modal .close:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1300px){
    .gallery .thumbnail{
        width: 33.33%;
    }
    #modal-content{
        max-width: 80%;
    }
}

@media screen and (max-width: 860px){
    body {
        font-size: 12px;
    }
    #about{
        flex-direction: column;
        width: 100vw;
    }

    #about .photo{
        width: 100%;
        height: 300px;
        background-position: 50% 40%;
    }

    #about .description{
        padding: 50px;
        width: calc(100vw - 100px);
    }

    .gallery{
        width: 90%;
        margin: auto;
    }

    .gallery .thumbnail{
        width: 50%;
    }

    #modal-content{
        max-width: 80%;
    }
}